html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(124, 0, 0, 0.9);
}

#navContainer {
    height: 64px;
}

#main {
    height: 100%;
/*     background: url('/public/assets/images/jobster.svg'); */
    height: 600px;

    margin-top: 96px;
}

.black-opacity{
    background-color: rgba(0, 0, 0, 0.6);
}

a {
    color: white;
    margin-left: 15px;
}

#register-modal, #jobInput-modal {
    margin-top: 80px;
    font-size: 14px;
}

.modal-break{
    border-bottom: 1px black solid;
    width: 100%;
    
}

#app-title {
    width: 200px;
}
